#about {
  h4 {
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, .8);
    color: $red;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem 0 0;
    width: 100%;

    span {
      color: $black;
      margin-left: .5rem;
    }
  }
  .img-content-card {
    background: url(/assets/images/about/jamescourtney.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;

    @media(min-width: $mobile) {
      justify-content: flex-end;
      height: 40rem;
    }
  }
  .img-content-card__content {
    align-items: stretch;
    border-radius: $radius;
    background-color: transparent;
    display: column;
    padding: 0;
    width: 100%;

    @media(min-width: $mobile) {
      flex-direction: row;
    }
  }
  .img-content-card__content p {
    background-color: rgba(255,255,255,0.8);
    color: $black;
    line-height: 1.6;
    padding: 1rem 1.5rem .8rem;
    transition: all 500ms ease-in;

    @media(min-width: $tablet) {
      margin-bottom: 0;
      height: 50%;
    }
  }
}
