@import "susy";
@import "variables";

body {
  background-color: #fff;
  font-family: 'Eczar', serif;
  font-size: 1em;
  line-height: 1.45;
  margin: 0 auto;
  transition: all 1s ease;
}

@import
  "mixins",
  "buttons",
  "typography",
  "img-content-card",
  "carousel",
  "nav",
  "logo",
  "section",
  "about",
  "gallery",
  "reviews",
  "footer",
  "form"
;
