.button {
  font-size: 20px;
  height: 40px;
  letter-spacing: .15rem;
  text-decoration: none;
}

.button-white {
  background: #fff;
  box-shadow: 0 -2px 2px #ddd;
  color: $black;
  transition: all .2s ease;

  &.active, &:hover {
    background: $black;
    box-shadow: 2px 4px 6px #444;
    color: #fff;
  }
}

.button-red {
  background: $red;
  color: #000;

  &:hover {
    background: $red;
    color: #000;
  }
}
