footer {
  align-items: center;
  background: $black;
  color: #fff;
  display: flex;
  height: 10rem;
  left: 0;
  margin: 5rem 0 0;
  position: absolute;
  width: 100vw;

  img {
    height: 3rem;
    width: 3rem;
  }
}