.form {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem .5rem;
  width: 90%;

  @media(min-width: $tablet) {
    padding: 2rem;
    width: 50%;
  }

  h4 {
    font-size: 28px;
    width: 100%;
  }

  input, textarea {
    border: none;
    border-radius: 5px;
    color: $black;
    font-size: 1.1em;
    margin: .5rem;
    outline: none;
    padding: 1rem;
    width: 100%;

    &:focus {
      box-shadow: 0 0 2px #444;
    }
  }

  textarea {
    height: 6rem;

    @media(min-width: $mobile) {
      height: 10rem;
    }
  }

  button {
    display: block;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    padding: .5rem 1rem;
    margin: 1rem auto .5rem;
    width: 11rem;
  }
}
