.form {
  align-items: center;
  background: #eee;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem .5rem;
  width: 90%;

  @media(min-width: $mobile) {
    padding: 2rem;
    width: 50%;
  }

  input, textarea {
    border: none;
    border-radius: 5px;
    color: $black;
    font-size: 1.2rem;
    margin: .5rem;
    outline: none;
    padding: 1rem;
    width: 100%;

    &:focus {
      box-shadow: 0 0 2px #444;
    }
  }

  textarea {
    height: 6rem;

    @media(min-width: $mobile) {
      height: 10rem;
    }
  }

  button {
    background: #000;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    height: 3rem;
    margin: 1rem 0;
    padding: 0rem;
    width: 50%;
  }
}