.gallery {
  max-width: 100%;
  padding-top: 2.5rem;

  @media(min-width: $mobile) {
    padding-top: 0;
  }

  .prev-button, .next-button {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    opacity: .5;
    outline: none;
    transform: translateY(-50%);
    z-index: 999999999;
  }
  .prev-button {
    left: 1rem;
  }
  .next-button {
    right: 1rem;
  }
  .expand-image {
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;

    .expanded-image {
      margin-top: 35%;
      max-height: 70%;
      max-width: 90%;

      @media(min-width: $mobile) {
        height: 80vh;
        margin-top: 13%;
        max-width: 80%;
      }

      @media(min-width: $tablet) {
        margin-top: 20%;
      }

      @media(min-width: $desktop) {
        margin-top: 16%;
      }

      @media(min-width: $desktop-large) {
        margin-top: 13%;
      }
    }
    .collapse-image {
      cursor: pointer;
      position: fixed;
      background: transparent;
      height: 3rem;
      color: #fff;
      box-shadow: none;
      font-size: 4em;
      border: none;
      top: 2rem;
      width: 3rem;
      right: 2rem;
    }
  }
  .gallery-grid {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding: .5rem 0;
    width: 100%;

    @media(min-width: $mobile) {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      margin-top: 0;
    }

    p {
      align-self: center;
      color: #fff;
      padding: 1rem;
      width: 100%;

      @media(min-width: $mobile) {
        padding: 1rem 0;
      }
    }

    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: .5rem;
    }
    img {
      min-height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}