.gallery {
  max-width: 100%;

  .prev-button, .next-button {
    position: fixed;
    top: 50%;
    border-radius: 50%;
    background: transparent;
    border: none;
    font-size: 1.8em;
    font-weight: 500;
    color: red;
    cursor: pointer;
    outline: none;
    z-index: 999999999;
  }
  .prev-button {
    left: 0;
  }
  .next-button {
    right: 0;
  }
  .expand-image {
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;

    .expanded-image {
      margin-top: 35%;
      max-height: 70%;
      max-width: 90%;

      @media(min-width: $mobile) {
        max-height: 82vh;
        margin-top: 15vh;
        max-width: 90%;
      }
    }
    .collapse-image {
      cursor: pointer;
      position: fixed;
      background: transparent;
      color: #fff;
      box-shadow: none;
      font-size: 2.8em;
      border: none;
      top: 0;
      right: 0;
    }
  }
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;

    @media(min-width: $tablet) {
      padding: 1.5rem 1rem 0;
    }

    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: 0 .5rem 1.5rem;
    }
    img {
      min-height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}