.gallery-grid {
  align-items: flex-start;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 4rem auto;
  padding-bottom: 4rem;
  width: 100%;

  h4 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 4rem 0 0;
    width: 50%;
  }

  &__item img {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    width: 70%;
  }
}