.logo-wrapper {
  margin: 0 auto;
  position: absolute;
  top: -3.9rem;
  right: auto;
  left: 36%;
  transition: all .3s ease;

  @media(min-width: $mobile) {
    width: 100%;
    text-align: center;
    top: -19.5rem;
    right: auto;
    left: auto;
    z-index: -1;
  }
}

.logo {
  height: 10rem;

  @media(min-width: $mobile) {
    height: 30rem;
  }
}
