.logo-wrapper {
  height: 8rem;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 30%;
  right: 30%;
  transition: all .3s ease;
  text-align: center;

  @media(min-width: $mobile) {
    width: 100%;
    text-align: center;
    top: -19.5rem;
    right: auto;
    left: auto;
    z-index: -1;
  }
}

.logo {
  height: 100%;

  @media(min-width: $mobile) {
    height: 30rem;
  }
}
