nav {
  @include container;
  margin: 8rem auto 0;

  @media(min-width: $mobile) {
    margin: 12rem auto 0;
  }

  &.mobile-toggle {
    background: $black;
    color: #fff;
    cursor: pointer;
    width: 8vw;
    padding: .2rem .3rem;
    position: fixed;
    top: .5rem;
    right: 0;
    z-index: 999999;

    @media(min-width: $mobile) {
      display: none;
    }
  }

  &.open {
    background: rgba($black, .8);
    color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem 0;
    position: fixed;
    height: auto;
    top: 11.25rem;
    width: 100%;
    z-index: 9999999;

    ul {
      margin: 0 auto;
      text-align: center;
      width: 75%;
    }

    ul li {
      align-items: center;
      box-shadow: none;
      display: flex;
      height: 2rem;
      margin: 1rem 0;
      width: 100%;

      .active {
        border-left: 4px solid $red;
        border-bottom: none;
        box-shadow: none;
      }

      @media(min-width: $mobile) {
        height: 4rem;
      }
    }

    ul li a {
      align-items: center;
      border: none;
      box-shadow: none;
      display: flex;
      font-size: 1.2rem;
      justify-content: center;
      margin: 0;
      padding: .5rem 0;
      text-align: center;
      width: 100%;

      &:hover, .active {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }

  .items {
    @include container;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 0;
    justify-content: space-between;
    opacity: 0;
    width: 0;

    &.active {
      flex-direction: row;
      height: auto;
      justify-content: space-around;
      margin: 0 auto;
      opacity: 1;
      width: auto;
    }

    @media(min-width: $mobile) {
      flex-direction: row;
      height: auto;
      justify-content: center;
      margin: 0 auto;
      opacity: 1;
      width: 100%;
    }

    li {
      margin-right: 1rem;
      width: 50%;

      @media(min-width: $mobile) {
        width: 20%;
      }

      @media(min-width: $tablet) {
        width: 15%;
      }
    }

    li:nth-child(5) {
      @media(min-width: $mobile) {
        margin-right: 1rem;
      }
    }

    a {
      display: block;
      font-weight: 600;
      height: 100%;
      padding: .5rem 0;
      text-align: center;
      width: 100%;
      transition: all .05s ease-in-out;
    }
  }
}
