.reviews {
  margin-top: 0;
  &__collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  &__collection p {
    margin: 1rem 0;
    padding: 2rem;
    text-align: left;

    @media(min-width: $tablet) {
      width: 40%;
    }
  }

  &__collection-person {
    display: block;
    margin-top: 1.5rem;
    width: 100%;
  }
}
