.reviews {
  &__collection {
    display: flex;
    font-size: 1.1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem auto;
    width: 90%;
  }

  &__collection p {
    background-color: rgba(0,0,0,0.02);
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    font-size: 1.1em;
    letter-spacing: .06em;
    margin: 1rem 0;
    padding: 2rem;
    text-align: left;
    width: 90%;

    @media(min-width: $tablet) {
      width: 40%;
    }
  }

  &__collection-person {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
}
