.section {
  @include container;
  box-shadow: 0 10px 8px #ddd;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  left: -200vh;
  width: 0;
  transition: all .3s ease-in-out;

  &.active {
    background: #fff;
    border-top: 2px solid $black;
    display: block;
    padding: 4rem;
    position: relative;
    margin: 0 auto;
    opacity: 1;
    left: auto;
    width: auto;
  }

  h2 {
    border-bottom: 4px solid $red;
    display: inline-block;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  }

  img {
    min-height: 100%;
  }
}

@-prefix-keyframes slide {
  from {height: 0;}
  to {height: 300px;}
}
