.section {
  @include container;
  background: #fff;
  border-top: 2px solid $black;
  display: block;
  padding: 2.5rem 0;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  left: auto;
  text-align: center;
  width: auto;

  h2 {
    border-bottom: 4px solid $red;
    display: inline-block;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  }
}
