.services {
  &__offered-service {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem;
    width: 100%;
  }

  &__offered-service figure {
    margin: auto;
    width: 90%;

    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &__offered-service figure {
    display: block;
    margin: 0 auto;

    @media (min-width: $tablet) {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &__offered-service img {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__offered-content {
    padding: 1rem;
    text-align: center;
    width: 100%;

    @media (min-width: $mobile) {
      padding: 1rem;
    }

    @media (min-width: $tablet) {
      padding: 1rem 0 0 0;
      text-align: left;
      width: 50%;
    }
  }

  &__offered-service h4 {
    align-self: flex-start;
    color: $red;
    font-size: 1.5em;
    margin: 0 auto 0.5rem 0;

    @media (min-width: $tablet) {
      font-size: 38px;
      margin: 0 auto 1rem 2rem;
    }
  }

  &__offered-service p {
    font-size: initial;
    padding: 0;

    @media (min-width: $mobile) {
      font-size: 1.1em;
    }

    @media (min-width: $tablet) {
      padding: 0 2rem 2rem;
    }
  }

  .is-right {
    margin-bottom: 1rem;

    @media (min-width: $tablet) {
      margin-right: inherit;
      margin-bottom: 0;
      order: 2;
    }
  }

  .is-left {
    margin-bottom: 1rem;

    @media (min-width: $tablet) {
      margin-left: inherit;
      margin-bottom: 0;
    }
  }
}
