// colors
$red: #FF0000;
$black: #000;

// screens
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1280px;

// susy settings
$susy: (
  columns: 12,
  container: 1024px,
  global-box-sizing: border-box,
);