<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="/assets/js/vendor/moment.min.js"></script>
<script src="/assets/js/app.tag" type="riot/tag"></script>
<script src="/assets/js/nav-bar.tag" type="riot/tag"></script>
<script src="/assets/js/logo.tag" type="riot/tag"></script>
<script src="/assets/js/reviews.tag" type="riot/tag"></script>
<script src="/assets/js/about.tag" type="riot/tag"></script>
<script src="/assets/js/services.tag" type="riot/tag"></script>
<script src="/assets/js/contact.tag" type="riot/tag"></script>
<script src="/assets/js/footer-bar.tag" type="riot/tag"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.6.0/riot+compiler.min.js"></script>
<script src="https://cdn.jsdelivr.net/riot-route/3.1.1/route+tag.min.js"></script>

<script>
  riot.compile(function() {
    riot.mount('app')
    route.start(true)
  })
</script>