<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Eczar:500,700,800" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/site.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('*')</script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <app>
        <logo></logo>
        <nav-bar></nav-bar>
        <router>
          <route path="">
            <services></services>
          </route>
          <route path="services">
            <services></services>
          </route>
          <route path="gallery">
            <gallery></gallery>
          </route>
          <route path="reviews">
            <reviews></reviews>
          </route>
          <route path="about">
            <about></about>
          </route>
          <route path="contact">
            <contact></contact>
          </route>
        </router>
        <footer-bar></footer-bar>
      </app>
    </div>

    {% include scripts.html %}
  </body>
</html>
