<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}<link href="css/style.css" rel="stylesheet">{% endcomment %}
    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Eczar:500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/flickity.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">
  </head>
  <body>
    <div class="container">
      {{content}}
    </div>

    <script src="/assets/js/vendor/flickity.pkgd.min.js"></script>
  </body>
</html>