<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}<link href="css/style.css" rel="stylesheet">{% endcomment %}
    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Eczar:500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/flickity.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('*')</script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <app>
        <logo></logo>
        <nav-bar></nav-bar>
        <router>
          <route path="/">
            <services></services>
          </route>
          <route path="services">
            <services></services>
          </route>
          <route path="reviews">
            <reviews></reviews>
          </route>
          <route path="about">
            <about></about>
          </route>
          <route path="contact">
            <contact></contact>
          </route>
        </router>
        <footer-bar></footer-bar>
      </app>
    </div>

    {% include scripts.html %}
  </body>
</html>