#about {
  .img-content-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .img-content-card__content {
    border-radius: $radius;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    width: 100%;
  }

  .img-content-card__text {
    padding: 1rem .5rem;
  }

  .img-content-card__content p {
    font-weight: 300;
    line-height: 1.45em;
    padding: .8rem;

    @media(min-width: $mobile) {
      padding: 0 2rem;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  img {
    display: block;
    margin: 0 0 1rem;
    width: 100%;

    @media(min-width: $tablet) {
      margin: 0 auto 2rem;
      width: 100%;
    }
  }

  a {
    display: block;
    color: white;
    border: none;
    padding: .5rem 1rem;
    margin: 2rem auto 0;
    max-width: 11rem;
  }
}
