.section {
  @include container;
  display: block;
  padding: 2.5rem 0;
  position: relative;
  min-height: 40vh;
  opacity: 1;
  left: auto;
  text-align: center;
  width: 95%;

  @media(min-width: $mobile) {
    margin-top: 0;
  }

  h2 {
    border-bottom: 4px solid $red;
    display: inline-block;
    font-weight: 700;
    font-size: 38px;
    margin: 0 auto 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);

    @media(min-width: $mobile) {
      display: none;
    }
  }
}
